NEXTAUTH_SECRET="your-secret"
NEXTAUTH_URL="http://localhost:3000"
GITHUB_APP_CLIENT_SECRET="your-client-secret"
GITHUB_APP_CLIENT_ID="your-client-id"
GOOGLE_CLIENT_ID="your-client-id"
GOOGLE_CLIENT_SECRET="your-client-secret"
WEB3FORMS_ACCESS_KEY= "Your Access Key Here"