@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-lightMode font-primary leading-loose text-darkMode dark:bg-darkMode dark:text-lightMode;
  }
  .h1 {
    @apply text-[36px] font-semibold leading-[1.1] xl:text-[80px];
  }
  .h2 {
    @apply text-[48px] font-semibold leading-[1.1] xl:text-[48px];
  }
  .h3 {
    @apply text-[20px] font-semibold leading-[1.1] xl:text-[24px];
  }
}

/* Transiciones : Modo Claro & Modo Oscuro */

.transition-theme-dark {
  transition-property: all;
  transition-timing-function: ease-in;
  transition-duration: 500ms;
  transition-delay: 20ms;
}
.transition-theme-light {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  transition-delay: 20ms;
}

/* Yuzu Classes */

:root {
  scrollbar-width: none;
}

.long-text-handler {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

/* Julio Classes */
.Master {
  max-width: 700vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.Master li {
  display: flex;
  justify-content: center;
  width: 27rem;
  margin: 1rem 0;
}

.Master ul {
  list-style: none;
}

.Logos {
  position: relative;
  left: 3rem;
}

/* Leticia Classes */
