@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Yuzu Classes  */

@layer base {
  body {
    @apply bg-lightMode font-primary leading-loose text-darkMode dark:bg-darkMode dark:text-lightMode;
  }
  .h1 {
    @apply text-[36px] font-semibold leading-[1.1] xl:text-[80px];
  }
  .h2 {
    @apply text-[48px] font-semibold leading-[1.1] xl:text-[48px];
  }
  .h3 {
    @apply text-[20px] font-semibold leading-[1.1] xl:text-[24px];
  }
}

/* Transiciones : Modo Claro & Modo Oscuro */

.transition-theme-dark {
  transition-property: all;
  transition-timing-function: ease-in;
  transition-duration: 500ms;
  transition-delay: 20ms;
}
.transition-theme-light {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  transition-delay: 20ms;
}

:root {
  scrollbar-width: none;
}

/* Julio Classes */

.Master {
  width: 100%;
  margin: 12px;
  position: fixed;
  right: 0;
}

li {
  display: flex;
  margin: 20px;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

a {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* Leticia Classes */
